<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.SearchMapper" >

  <resultMap id="BaseResultMap" type="com.cn.hnust.been.Search" >
    <result column="restaurant_name" property="restaurant_name" jdbcType="VARCHAR" />
    <result column="information" property="information" jdbcType="VARCHAR" />
    <result column="imageId" property="imageId" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="avercost" property="avercost" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    restaurant_name, information, imageId, location, avercost, tel
  </sql>
  
  
  <select id="selectbyname" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from restaurantInfo
    where restaurant_name = #{restaurant_name,jdbcType=VARCHAR}
  </select>
  
  

</mapper>